<style type="text/css">
#orders{
    overflow: hidden;
    width: 100%;
border:1px solid #ddd;
}
table#orders tr th{
	text-align:center;
	background-color:#49AFCD;
	border-left:1px solid #ddd;
        padding:2px;

}
table#orders tr td{
	text-align:center;
	border-left:1px solid #ddd;
	
}
</style>
<div class="container">
	
	<div class="offset3"><h4><p class="title">Order Summary</p></h4><p class="offset4"><i><span style="color:grey;">Logged in as :</span> </i><b><%= session[:userid] %></b>&nbsp;&nbsp;&nbsp;<%= link_to 'Logout',:action=>'login' %></p></div></br></br>

		
	<%= form_tag :action =>'products'  do %>
		<div class="row">
			<table id="orders">
				<thead>
					<tr>
						<th class="span4 offset4">Product ID</th>
						<th class="span4 offset4">Qty</th>
						<th class="span4 offset4">Price</th>
					</tr>
				</thead>
				<tbody>
					<% sum = 0 %>
        			<% @orderDetails.each do |item| %> 
				        <tr>
				             <td class="span4 offset4"><%= item.ProductID%></td> 
				             <td class="span4 offset4"><%= item.Quantity%></td>
				             <td class="span4 offset4"><%= item.Price %></td>
				             <% sum = sum + item.Price.to_i * item.Quantity.to_i %>
				             
						</tr> 
        			<%end%>
 				</tbody>
			</table><br>
		<div class="row">
			<div class="span3 offset9">
				<table>
					<tr>
						<td style="color:green;"><b>Total Price:</b></td>
						<td style="color:green;">&nbsp;<b>$<%= sum %></b></td>
					</tr>
				</table>
			</div>
		</div><br>
		<div class="row">
			<div class="span12 offset1">
				<table>
					<tr>
						<td style="color:green;"><i>Your order has been delivered successfully to the below shipping address.</i></td>
					</tr>
					<tr>
						<td><br><%=text_area_tag 'Address', @address,:class=>'textgreen' %></td>
					</tr>
				</table>
			</div>
		</div>
						<br><br>
		<div class="row">
			<div class="span3 offset5" style="width:100px;"><%= submit_tag "Continue Shopping",:class => "btn btn-info" %></div>
		</div>
		</div>
	<% end %>
	
</div>