<div class="container">

	<div class="offset5"><p class="title"><h4>Products</h4></p><p class="span8 offset4"><%= link_to 'View Cart', :action => 'viewCart' %>&nbsp;&nbsp;<i>Logged in as : </i><b><%= session[:userid] %></b>&nbsp;&nbsp;&nbsp;<%= link_to 'Logout',:action=>'login' %></p></div></br></br></br>

	<%= form_tag :action =>'addToCart'  do %>
		<div class="row">
			<table id="products">
				<thead>
					<tr>
						<th class="span2 offset3"> </th>
						<th class="span2 offset3">Product Name</th>
						<th class="span2 offset3">&nbsp;Product Image</th>
						<th class="span2 offset3">Product Description</th>
						<th class="span2 offset3">Price</th>
						<th class="span2 offset3">Qty</th>
					</tr>
				</thead>
				<tbody>
					 <% @products.each do |product| %>   
				       <tr> 
				         <td><%=check_box_tag "product[#{product.ProductID}]",product.ProductID %></td>
				         <td><%= product.ProductName %></td> 
				         <td>&nbsp;&nbsp;&nbsp;<img src="/assets/<%=product.ProductID%>.png"></td>
				         <td><%=text_area_tag 'Description', product.ProductDesc %></td>
				         <td><%=text_field_tag "Price[#{product.ProductID}]",product.Price %></td>
				         <td><%=text_field_tag "Quantity[#{product.ProductID}]",1 %> </td>
				      </tr> 
        			<%end%> 
				</tbody>
			</table><br>
 			<div class="row">
				<div class="span3 offset5" style="width:100px;"><%= submit_tag 'Add To Cart' %></div>
			</div>
		</div>
	<% end %>

		
		<!--<% if flash[:notice] %>
	      <p class="notice"><%= flash[:notice] %></p>
	    <% end %>-->
</div>