<div class="container">
	<div class="offset5"><p class="title"><h4>View Cart</h4></p><p class="offset4"><i>Logged in as : </i><b><%= session[:userid] %></b>&nbsp;&nbsp;&nbsp;<%= link_to 'Logout',:action=>'login' %></p></div></br></br>
	
	<%= form_tag :action =>'viewCart'  do %>
		<div class="row">
			<table id="products">
				<thead>
					<tr>
						<th class="span2 offset3">Product ID</th>
						<th class="span2 offset3">Product Name</th>
						<th class="span2 offset3">Product Description</th>
						<th class="span2 offset3">Qty</th>
						<th class="span2 offset3">Price</th>
					</tr>
				</thead>
				<tbody>
        			<% @userProducts.each do |product| %> 
				        <tr id="<%= dom_id(product) %>">
				            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product.ProductID%></td> 
				            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product.ProductName%></td>
				            <td><%= product.ProductDesc%></td>
				            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product.Quantity%></td>
				            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= product.Price%></td>
							<td><%= link_to "Delete", cart_delete_path(product.id), remote: true %></td> 
					    </tr> 
        			<%end%>
 				</tbody>
			</table><br>
			
		</div>
	<% end %>
	<div class="row">
		<div class="span3 offset5" style="width:100px;"><%= button_to "Submit Order", { :action => "orderDetails" }%></div>
	</div>
</div>